.nav {
    text-align: center;
    color: rgb(255, 255, 255); 
  }
  
  .time-and-date {
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  h1{
    padding: 0px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  p{
    padding: 0px;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }